.App {
  text-align: center;
}

.Login form{
  text-align: center;
}

nav{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
  background: #282c34;
  color: white;
}

ul{
  margin-right: 50px;
}

ul li{
  text-decoration: none;
  color: whitesmoke;
  padding: 0 15px;
  margin-bottom: 10px;
}

.nav-links{
  width: 40%;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  list-style: none;
  text-decoration: none;
}
